/target
/.direnv
.envrc
*/target
.rosy_output
.rosy_test_cache
.rosy_output_bench
rosy_output
/cosy_examples
*.out
*.lis
*.ssv
*.fuse_*
bench_t4
settings.local.json
*_t*_output*.txt
*.bins
*.dat
.codegraph
rosy/src/program/statements/io/save/testfile.bin
rosy/src/program/statements/io/rewf/test_rewf.txt
node_modules
bun.lock
*.fox
*.pdf
